@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

* {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0A1A2F;
    color: white;
}

header {
    width: 100%;
    background: #0A1A2F;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #00D2FF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: #00D2FF;
    letter-spacing: 1px;

}

nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}

nav a:hover {
    color: #00D2FF;
}

.hero {
    height: 100vh;
    background: linear-gradient(135deg, #0A1A2F 60%, #112840 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    text-align: center;
    padding-top: 100px;
}

.hero h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    max-width: 650px;
    margin: 0 auto 30px;
}

.btn {
    background: #00D2FF;
    padding: 12px 25px;
    color: #0A1A2F;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    transition: .3s;
}

.btn:hover {
    background: #0fbfe4;
}

.section {
    padding: 100px 40px;
    text-align: center;
}

.services {
    min-height: 70vh;
    background: linear-gradient(135deg,#112840 100%, #0A1A2F 60%,);
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    overflow: hidden;
}

.proyects-wrapper {
    width: 100%;
    margin: 20px 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
    /*border: solid 10px black;
    gap: 50px;
    overflow: hidden;
    background-color: #112840;
    margin-top: 10vh;
    padding: 100px 40px;
    width: 100%;
    height: auto;
    */
}

.proyect-list .proyect-item {
    list-style: none;
}

.proyect-list .proyect-item .proyect-link {
    user-select: none;
    display: block;
    background-color: #0c274b;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    border: 2px solid transparent;
    transition: 0.4s ease;
}

.proyect-list .proyect-item .proyect-link:active {
    cursor: grabbing;
}

.proyect-list .proyect-item .proyect-link:hover {
    border-color: aqua;
}

.proyect-list .proyect-link .proyect-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.proyect-list .proyect-link .badge {
    color: cyan;
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: 500;
    margin: 16px 0 8px;
    background-color: #007bff;
    width: fit-content;
    border-radius: 50px;
}

.proyect-list .proyect-link .badge.findora {
    color: #004c9e;
    background: #007bff;
}

.proyect-list .proyect-link .badge.placeholder2 {
    color: #047000;
    background: #009c15;
}

.proyect-list .proyect-link .badge.placeholder3 {
    color: #8f0000;
    background: #c90000;
}

.proyect-list .proyect-link .badge.placeholder4 {
    color: #a5ab00;
    background: #ccd300;
}

.proyect-list .proyect-link .badge.placeholder5 {
    color: #8d0084;
    background: #cc00be;
}

.proyect-list .proyect-link .proyect-title {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
}

.proyect-list .proyect-link .proyect-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 30px 0 5px;
    color: white;
    border: solid #fff;
    background: none;
    cursor: pointer;
    transition: 0.4s ease;
}

.proyect-list .proyect-link:hover .proyect-button {
    color: #000000;
    background: #fff;
}

.section {
    margin-top: 1px;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: #1F2933;
    padding: 25px;
    border-radius: 12px;
    width: 280px;
    box-shadow: 0 0 10px rgba(0, 210, 255, 0.15);
    transition: .3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 210, 255, 0.25);
}

.card h3 {
    color: #00D2FF;
    margin-bottom: 12px;
}

footer {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    background: #0A1A2F;
    border-top: 2px solid #00D2FF;
}

.proyects-wrapper .pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #00D2FF;
}

.proyects-wrapper .pagination-bullet-active {
    opacity: 1;
}

.proyects-wrapper .swiper-slide-button {
    color: #00D2FF;
    margin-top: -35px;
}

@media screen and (max-width: 768px) {
    .proyects-wrapper {
        margin: 0 10px 25px;
    }

    .proyects-wrapper .swiper-slide-button {
        display: none;
    }
}